DATABASE_URL="mysql://root:password@localhost:3306/ecommerce"
APP_URL="http://api.example.com/api"

PORT=8000
NODE_ENV=development
ADMIN_URL="http://localhost:3001"
STORE_URL="http://localhost:3002"
SOCIAL_URL="http://localhost:3003"
JWT_SECRET=
JWT_EXPIRATION_TIME=1d
SALT_OR_ROUND=10

DB_CONNECTION=mysql
DB_PORT=3306
DB_HOST=localhost
DB_DATABASE=ecommerce
DB_USERNAME=root
DB_PASSWORD=password

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME="Ecommerce"

AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_BUCKET_NAME=fly-andreas/public